<div class="main-wrapper contenido container">
	<header class=" topHeader">
	  <div class="container-fluid ">
	    <div class="navbar-header">
	      <h2> <i class="fa fa-angle-right"></i> Editar la formas de inspeccion</h2>
	    </div>
	  </div>
	</header>
	<main class="container-fluid wrapper tramite " role="main">

	{{partial "formas/form"}}
    </main>
</div>