<div class="main-wrapper">
	<header class=" topHeader">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <h2> <i class="fa fa-angle-right"></i> Agregar Formulario</h2>
	    </div>
	  </div>
	</header>
	<main class="container-fluid wrapper tramite" role="main">
		{{partial "formularios/form"}}
    </main>
</div>	